.shop_my_detail_top_btn {
    width: auto;
    padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 15px;
    background-color: #FF5C8D;
}
.shop_my_detail_top_btn:hover {
    background-color: #f5c2c7;
}

.shop_my_detail_table > thead > tr > th {
    font-size: 16px;
    text-align: center;
    color: #666;
}
.shop_my_detail_table > tbody > tr > td {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}
.shop_my_detail_img_box {
    /*width: 100%;*/
    /*height: 600px;*/
}
.shop_my_detail_img {
    width: 600px;
    height: auto;
    object-fit: contain;
}

.shop_my_detail_contents_box {
    width: 100%;
    height: auto;
    margin: 20px 0px;
}
.shop_my_detail_contents_1 {
    display: inline-block;
    margin-right: 40px;
}
.shop_my_detail_contents_1_text {
    margin-bottom: 0px;
    margin-right: 15px;
    font-size: 14px;
    display: inline-block;
}
.shop_my_detail_contents_1_result {
    margin-bottom: 0px;
    font-size: 14px;
    display: inline-block;
}
.shop_my_detail_sold_out_box {
    display: inline-block;
    margin-left: 15px;
}
.shop_my_detail_sold_out_check_text {
    display: inline-block;
    margin: 3px 0px 0px 0px;
}